@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.projecthome {
    padding: 60px;
    text-align: center;
    background-color: black;
    height: 100vh;
}

.projecthome-heading {
    color: red;
    font-family: "Serif";
}

.projecthome-image {
    height: 25px;
    padding: 0px;
    margin: 0px;
}

.projecthome-para {
    color: white;
    font-family: "Roboto";
}

.projecthome-form {
    padding: 10px;
    margin: 10px;
}

.for-signup {
    color: blue;
}

.for-forgetpass {
    color: red;
}

.button-projecthome {
    width: 116px;
    margin: 20px;
}

.projectsecond-paragraph {
    font-weight: bold;
    font-family: "Roboto";
    color: #bf1b7d;

}

.projectsecond-card {
    background-color: white;
    padding: 20px;
}

.projectsecond {
    padding: 20px;
    text-align: center;
    background-color: black;
}



.section-homepage-lastpara {
    color: gray;
}




.projectsecond-card-home {
    background-color: black;
}

.projectsecond-card {
    padding: 10px;
    width: 27vw;
    background-color: white;
    margin: 15px;
    border-radius: 10px;
}

.for-startnow {
    width: 30px;
    border: 0px;
    border-width: 2px;
    border-color: white;
    background-color: white;
    color: blue;
    text-align: right;
    padding: 10px;
}


.for-right {
    text-align: right;
}

.projectsecond-card-heading {
    color: blue;
    font-family: "Sans-Serif";
    font-size: 25px;
}

.projectsecond-card-totalmarks {
    color: gray;
}

.projectsecond-card-fornonsubscribe {
    color: red;
}

.projectsecond-card-CompletionPercentage {
    color: violet;
}
